# Ignorar diretórios de configuração do IDE
/.idea/
/.vscode/

# Ignorar diretórios de dependências
/node_modules/
/vendor/

# Ignorar arquivos de configuração sensíveis
/.env
/config.js

# Ignorar arquivos de log
*.log

# Ignorar diretórios de build
/dist/
/build/
.vercel
